@import 'tailwindcss';

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@supports (padding: max(0px)) {
  nav {
    padding-bottom: max(0.5rem, env(safe-area-inset-bottom));
  }
}
/* index.css */
.drawer-enter {
  transform: translateX(100%);
  opacity: 0;
}
.drawer-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}
.drawer-exit {
  transform: translateX(0);
  opacity: 1;
}
.drawer-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

